<article
  class="flex flex-col items-center justify-center gap-8 text-gray-400 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
    <p>
      Soy Jose Alonso Oviedo Monroy, comencé a desarrollar software en la
      universidad (soy Ingeniero electrónico con maestría en Gestión y control
      de la calidad). Conocedor de cada etapa del ciclo de vida del desarrollo
      de software, desde la recopilación de requisitos hasta las pruebas y el
      mantenimiento, pasando por el diseño y la codificación. Constructor de
      soluciones innovadoras y personalizadas para ayudar a empresas en una
      amplia variedad de industrias.
    </p>

    <p>
      Habilidades avanzadas y conocimientos de las principales herramientas de
      programación con una sólida formación en matemáticas, algoritmos y lógica
      de procesamiento de datos. Además, tengo experiencia en diseño,
      despliegue, mantenimiento de sistemas de software.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/images/jaoviedom-alternativo.webp"
    alt="Jose Oviedo"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xlbg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
